{% extends 'nav.html' %}
{% block nav %}

{% for i in data %}
<div class="card" style="width: 30%;">
  {% if i.image %}
  <img class="card-img-top" src="{{ i.image.url }}" alt="Card image cap">
  {% endif %}
  <div class="card-body">
    <h5 class="card-title">{{i.datetime}}</h5>
    <p class="card-text">{{i.caption}}</p>
  </div>
{% endfor %}

  <!-- {% comment %} <ul class="list-group list-group-flush">
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Vestibulum at eros</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div> {% endcomment %} -->
</div>



{% endblock %}