{% extends 'nav.html' %}
{% block nav %}
{% if messages %}
    {% for i in messages %}
      {% if i.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
      <div class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
          {{i}}
      </div>
      {% endif %}
    {% endfor %}
  {% endif %}

  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Post Something
  </button>
</p>
<div class="collapse" id="collapseExample">

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}  
<table class="table table-success">
    {{form.as_table}}
  <tr>
    <td colspan="2" class="text-center">
    <button class="btn btn-success">Submit</button></td>

    </table>
    </form>
  </div>
  <style>
    .btn-danger.liked {
  background-color: #f81606;
  color: white;
}

.btn-danger .like-count {
  margin-left: 5px;
  font-size: 0.8em;
}

  </style>
  


  {% for i in data %}
  <div class="card" style="width: 30rem;">
    {% if i.image %}
    <img class="card-img-top mb-5 " src="{{i.image.url}}" alt="Card image cap">
    {% endif %}
    <div class="card-body">
      <h5 class="card-title">{{i.datetime}}</h5>
      <p class="card-text">{{i.caption}}</p>
      <div class="card-footer">
        <button class="btn btn-danger" onclick="this.classList.toggle('liked')">
          <a href="{% url 'like' i.id %}" class="btn btn-secondary">Like{{ i.cntlikes.likes }}</a>
         
        </button>
        
        <a href="" class="btn btn-secondary">Comment</a>
      </div>
    </div>

    <div class="card-body">
    <form method="post" action="{% url 'cmnt' i.id %}">

      {% csrf_token %}
      {{ cform.as_p }}
      <button class="btn btn-success">submit</button>
   
  </form>
  </div>
  <div {% for c in comments %}>
    {% if c.post.id == i.id %}
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">{{c.comment}}</h4>
      <p class="card-text"> <strong>Posted On</strong> {{c.datetime}}></p>
      <p class="card-text"> <strong>Posted By</strong> {{c.user.first_name}} {{c.user.last_name}}></p>
      {% endif %}
      {% endfor %}
      </div>
    </div>
  </div>
    {% endfor %}





    <!-- {% comment %} <ul class="list-group list-group-flush">
      <li class="list-group-item">Cras justo odio</li>
      <li class="list-group-item">Dapibus ac facilisis in</li>
      <li class="list-group-item">Vestibulum at eros</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div> {% endcomment %} -->
  </div>
{% endblock %}